### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#Create a data frame containing unique players
players = pd.DataFrame(purchase_data["SN"].unique())
#Count unique players and return result in new data frame
player_count = pd.DataFrame(players.count(), columns=["Total Players"])

In [3]:
###Display Number of players
player_count

   Total Players
0            576

In [4]:
#Calculate the number of unique items
num_of_unique_items = purchase_data["Item ID"].nunique()

In [5]:
#Calculate the average item price
avg_price = float(purchase_data["Price"].mean())

In [36]:
#Calculate the total number of purchases
number_of_purchases = purchase_data["Purchase ID"].count()

780

In [7]:
#Calculate total revenue
total_revenue = float(purchase_data["Price"].sum())

In [8]:
#Create a dataframe to hold results
basic_calcs = pd.DataFrame([[num_of_unique_items, '${:,.2f}'.format(avg_price), 
               number_of_purchases, '${:,.2f}'.format(total_revenue)]], 
                           columns=["Number of Unique Items", "Average Price", 
                                    "Number of Purchases", "Total Revenue"])

In [9]:
###Display the summary data frame
basic_calcs

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [10]:
#Create a data frame containing the gender counts for the unique players
gender_df = pd.DataFrame(purchase_data.groupby(["Gender"])["SN"].nunique())
#Resort on highest to lowest total count
gender_df = gender_df.sort_values("SN", ascending = False)
#Rename SN column to Total Count
gender_df = gender_df.rename(columns={"SN": "Total Count"})

In [11]:
#Reset index for later data frame merging
gender_df = gender_df.reset_index()

In [12]:
#Get clean player count
num_plays = purchase_data["SN"].nunique()
#Set list variable for gender percent results
gender_percent = []
#Iterate through gender to calculate and store percents
for sex in gender_df["Total Count"]:
    gender_percent.append(round((sex/num_plays)*100,2))

In [13]:
#Create data frame with gender percent results
genper_df = pd.DataFrame(gender_percent)
#Reset index for merging
genper_df.reset_index()
#Name column
genper_df.columns = ["Percentage of Players"]

In [14]:
#Merge datata frames and reset index to Gender
new_gender_df = pd.merge(gender_df, genper_df, left_index=True, right_index=True)
new_gender_df = new_gender_df.set_index(["Gender"])

In [15]:
###Display Gender Demographics
new_gender_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [16]:
#Get counts by Gender
purchase_count = purchase_data.groupby("Gender").count()

In [17]:
#Get means by Gender
price_mean = purchase_data.groupby("Gender").mean()

In [18]:
#Get sums by Gender
price_sum = purchase_data.groupby("Gender").sum()

In [19]:
#Create new data frame with count, mean, and sum data
gender_analysis_df = pd.DataFrame({"Purchase Count" : purchase_count["Purchase ID"], 
              "Average Purchase Price" : price_mean["Price"], 
              "Total Purchase Value" : price_sum["Price"]})

In [20]:
#Add calculate and column for Avg Total Purchase per Person
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Total Purchase Value"]/new_gender_df["Total Count"]

In [21]:
###Display Gender Purchasing Analysis
gender_analysis_df.style.format({"Average Purchase Price":'${:,.2f}', 
                                 "Total Purchase Value":'${:,.2f}',
                               "Avg Total Purchase per Person": '${:,.2f}'})

In [44]:
#Create bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, np.inf]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

In [46]:
#Add Age Range column to purchase data df
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels = labels)

In [47]:
#Create new data frame containing only player age data
player_ages_df = pd.DataFrame({"Player" : purchase_data["SN"], 
                               "Age" : purchase_data["Age"], 
                               "Age Range" : purchase_data["Age Range"]})

In [48]:
#Drop duplicate players
player_ages_df.drop_duplicates("Player", inplace = True)

In [49]:
#Create new data frame with counts per age range
age_demo_df = pd.DataFrame(player_ages_df.groupby("Age Range").count())
age_demo_df = pd.DataFrame(age_demo_df["Age"])
#Change column name to Total Count
age_demo_df = age_demo_df.rename(columns = {"Age" : "Total Count"})
#Calculate and format percentage of players per age
age_demo_df["Percentage of Players"] = (age_demo_df["Total Count"]/num_plays)*100
age_demo_df = age_demo_df.style.format({"Percentage of Players":'{:,.2f}'})

In [50]:
###Display Age Demographics
age_demo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
purchase_data.groupby("Age Range").count()
purchase_data.groupby("Age Range").mean()

           Purchase ID        Age     Item ID     Price
Age Range
<10         435.173913   7.869565  105.956522  3.353478
10-14       361.214286  11.392857  103.107143  2.956429
15-19       403.375000  16.794118   94.102941  3.035956
20-24       382.391781  21.838356   88.797260  3.052219
25-29       406.653465  26.000000   90.554455  2.900990
30-34       359.643836  31.383562   94.178082  2.931507
35-39       404.780488  36.707317  100.902439  3.601707
>40         410.230769  41.538462   89.076923  2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame